<div ng-controller="todosController">
    <ul ng-if="todos">
        <li ng-repeat="todo in todos | orderBy:'done'"
            class="todo"
            ng-class="{done: todo.done, pending: !todo.done}">
            <ng-include src="'templates/todo.html'"
                    ng-controller="todoController"></ng-include>
        </li>
    </ul>
    <div ng-if="!todos">Loading...</div>
    <hr>
    Add todo:
    <input type="text" ng-model="editedTodo.text" ng-disabled="saving">
    <button ng-click="addTodo()" ng-disabled="saving">Add!</button>
</div>
